﻿@{
    /**/

    ViewBag.Title = "Index";
}
@using FB.Services.Models
@model FizzBuzz

<h1>Display Number List </h1>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <label>Enter Numbers </label>
    @Html.TextBoxFor(m => m.Numbers)
    <input id="Submit" type="submit" value="submit" />

}

<hr />

<strong>Display List of Numbers using Fizz & Buzz:</strong><br />

                                                           <table>
                                                               <tr>

                                                                   @{

                                                                       if (ViewBag.NumList != null)
                                                                       {
                                                                           var fizzbuzzlist = (List
                                                                           <FizzBuzz>
                                                                               )ViewBag.NumList;
                                                                           foreach (var item in fizzbuzzlist)
                                                                           {
                                                                               if (@item.fizzbuzz != "")
                                                                               {
                                                                               <tr>
                                                                                   <td>
                                                                                       @item.fizzbuzz
                                                                                   </td>
                                                                               </tr>}
                                                                           else
                                                                           {
                                                                               <tr>
                                                                                   <td>
                                                                                       @item.Numbers
                                                                                   </td>
                                                                               </tr>
                                                                                   }

                                                                                   }

                                                                                   }

                                                                                   }
                                                                               </tr>
                                                                           </table>
